{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shortennr</title>
	<meta charset="UTF-8">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2213_RC01/embed_loader.js"></script>
	<meta name="google-site-verification" content="6oweH8zM2ot1D1oiv4uTabThnss7jhmIDluP9qbUAG4" />
	<link rel="icon" type="image/png" href={% static "pics/logo.png" %}>
</head>
<body>

<nav style="position: fixed; top: 0" class="teal lighten-1">
	<div class="container nav-wrapper">
		<div class="row">
			<div class="col s6">
			<div class="row">
			<img src={% static "pics/logo.png" %} style="height: 40px; width: auto; padding-right: 10px; margin-top: 13px">
			<a href="/" class="brand-logo">Shortennr</a>
			</div>
			</div>
			<ul id="nav-mobile" class="row">
			<div class="col s3"><li><a href="/">Home</a></li></div>
			<div class="col s3"><li><a href="/bored">Bored?</a></li></div>
			</ul>
		</div>
	</div>
</nav>

<div class="container" style="margin-top: 90px">
	<h1 style="text-align: center">Enter the URL you want to shorten below!</h1>
	<div class="row">
		<div class="col s6">
			<div class="center container">
				<i class="large material-icons" style="color: #EE6E73">flash_on</i>
				<p>Fast Python URL shortener</p>
				<p class="light center">Put in any URL you like. Weather it is to "Rick Roll" a friend or for work</p>
			</div>
		</div>
		<div class="col s6">
			<div class="center container">
				<i class="large material-icons" style="color: blue">chrome_reader_mode</i>
				<p>A much simpler working website than others where information is always kept safe</p>
				<p class="light center">We built this with love ❤</p>
			</div>
		</div>
	</div>

	<form action="{% url 'search-screen' %}" method="post" style="margin-top: 40px">
		{% csrf_token %}
		<input type="url" name="input-url" placeholder='Link should start with "https://" (This is the link shortener)' value="">
		<button class="btn waves-effect waves-light blue" type="submit" name="action">
			Shorten<i class="material-icons right">short_text</i>
  		</button>
	</form>

{% block content %}
{% endblock content %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>